<div class='row'>
  <div class='col-sm-12'>
    <br>
    <h1>Doogle Puppy Finding App</h1>
    <br>
    <p>  Doogle was created as my final project during my time at The Iron Yard's Back End Engineering course.
      It is intended to allow you to find dogs that are adoptable from various rescue organizations
      around central Texas, and track organizations that specialize in the kinds of dogs you're interested in.
      In the future I would like to expand the site to include a dynamic listing of organizations across a larger
      area and to allow for regional searching via geolocation, allowing the site to provide information for many
      different regions without making the amount of information offered impossible to sort through.</p>
    <br>
    <h2>Contributors</h2>
    <hr>
    <p> Design and UX: <a href="https://github.com/tinydinosaurs" class="underline">Dana Lachman</a>, <a href="https://github.com/judan" class="underline">Jen Udan</a>, <a href="https://github.com/vpatel90" class="underline">Vivek Patel</a></p>
    <p> Ruby Support: <a href="https://github.com/DaneCarmichael" class="underline">Dane Carmichael</a></p>
    <br>
    <h2>Tools and Tech</h2>
    <hr>
    <p> Application Framework: <a href="http://rubyonrails.org/" class="underline">Ruby on Rails</a> </p>
    <p> Information API: <a href="https://www.petfinder.com/developers/api-docs" class="underline">PetFinder API</a> </p>
    <p> Visual Framework: <a href="http://getbootstrap.com/" class="underline">Bootstrap</a> </p>
    <p> Front-End Interactivity: <a href="https://facebook.github.io/react/" class="underline">React</a> </p>
    <p> Background Images: <a href="https://unsplash.com/" class="underline">Unsplash</a> </p>
  </div>
</div>
