<div class='row page-panel'>
  <div class='col-s-1 col-md-1 col-lg-1'>
  </div>
  <div class='col-s-10 col-md-10 col-lg-10'>
    <h1>Welcome <%=current_user.name%></h1>
    <%= react_component("Dashboard", watched_orgs: @watched_orgs, recent_dogs: @recent_dogs, watched_recent_dogs: @watched_recent_dogs) %>
  </div>
  <div class='col-s-1 col-md-1 col-lg-1'>
  </div>  
</div>
