<div class='row page-panel'>
  <div class='span1'>
    <div class='span10'>
      <h1>Welcome <%=current_user.email%></h1>
      <%= react_component("Dashboard", watched_orgs: @watched_orgs, recent_dogs: @recent_dogs, watched_recent_dogs: @watched_recent_dogs) %>
    </div>
  </div>
</div>
