<div class='row'>
  <div class='col-sm-12'>
    <h1>Welcome <%=current_user.name%></h1>
    <%= react_component("Dashboard", watched_orgs: @watched_orgs, recent_dogs: @recent_dogs, watched_recent_dogs: @watched_recent_dogs) %>
  </div>
</div>
