<div class='row page-panel'>
  <div class='span1'>
    <div class='span10'>
      <h1>Doogle Puppy Finding App</h1>
      <p>  Doogle was created as my final project during my time at The Iron Yard, coding bootcamp.
        It is intended to allow you to find dogs that are adoptable from various rescue organizations
        around central Texas, and track organizations that specialize in the kinds of dogs you're interested in.
        In the future I would lack to expand the site to include a dynamic listing of organizations across a larger
        area and to allow for regional searching via geolocation, allowing the site to provide information for many
        different regions without making the amount of information offered impossible to sort through.</p>

      <h2>Contributions</h2>
      <p> Design and UX input: Dana Lachman, Jen Udan </p>

    </div>
  </div>
</div>
