<div class='row page-panel'>
  <div class="row">
    <div class='col-sm-12'>
      <h1>Future Plans for the App</h1>
      <p>Doogle is by no means complete at this time, and as an ongoing project
        I will be looking to continue adding features to it regularly.  From an
        expansion of available information, to growth in scope, scale, and feature
        set, there are a good number of ideas for the future of Doogle.</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12'>
      <h2>Some upcoming goals...</h2>
      <p>Some convenience features and touch-ups are on the plate for inclusion as soon
        as time allows for them.  Hopefully these can show up sooner than later..</p>
      <br>
      <h3> Inclusion of AKC Breed Information </h3>
      <p> Some work has already gone into compiling at a glance information for
        the breeds listed by the AKC, and for linking this information to the pups
        listed here, however there is still a good deal of data collecction, transcription,
        and arranging to be done.
        <br>
        Here are a few examples of rough drafts...</p>
      <br>
      <a href='/breeds/1'><p> Affenpinscher Page </p></a>
      <a href="/breeds/12"> Australian Cattle Dog Page </a>
      <hr>
      <br>
      <h3> Breed Badges </h3>
      <p> Adding the breed mix for each dog that is available through the API I
      am using should be a relatively short term goal.  They'll look like this...</p>
      <%= react_component("FakeBadges") %>
      <hr>
      <br>
      <h2>The Long Game</h2>
      <p> Doogle aspire to extend it's reach from Central Texas, out to the entire
        state, and then as far as it can manage.  In pursuit of that at least two
        high priority features will need to be wrapped in.</p>
      <br>
      <h3>Geolocation</h3>
      <p>Allowing users to set their locations for sorting to take distance into account
        will mean that the database can get as large as it wants and still be manageable
        by relevance in a convenient way.  This will also allow guests to search by region,
        also essential to a large stock of data.</p>
      <hr>
      <br>
      <h3>Dynamic Cross Searching</h3>
      <p>Once things can be sorted by distance, and thus relevance is covered, I would
         like to expand the search offerings to cover for convenience.  This will include
         a search bar that will be capable of searching across organizations, breeds, names,
        special needs, etc.

        Ideally this will make searching through the local pups a breeze.</p>
      <br>
    </div>
  </div>
</div>
