<div class='row page-panel session-panel'>
  <div class="dog-banner"></div>
  <div id="clearance" class="sign-in sign-in-wrapper">
    <h2><%= t(".title") %></h2>

    <%= render partial: '/sessions/form' %>
  </div>
</div>
