<div class='session-space'>
</div>
<div class='row page-panel session-panel'>
  <div id="clearance" class="sign-in">
    <h2><%= t(".title") %></h2>

    <%= render partial: '/sessions/form' %>
  </div>
</div>
