<div class='row page-panel'>
  <div class='span1'>
    <div class='span10'>
      <%= react_component("Dog", name: @dog.name, size: @dog.size, age: @dog.age, sex: @dog.sex, bio: @dog.bio, id: @dog.id)%>
      <%= react_component("DogPicsSlides", pics: @med_pics) %>
    </div>
  </div>
</div>
