<div class='row'>
  <div class='col-sm-8'>
    <%= react_component("Dog", name: @dog.name, size: @dog.size, age: @dog.age, sex: @dog.sex, bio: @dog.bio, id: @dog.id)%>
  </div>
  <div class='col-sm-4'>
    <%= react_component("DogPicsSlides", pics: @med_pics) %>
  </div>
</div>
