<div class='row page-panel'>
  <div class='span1'>
    </div>
  <div class='span10'>
    <%= react_component("Breed", name: @breed.name.upcase, akc_rank: @breed.akc_rank, energy_level: @energy_array, size: @breed.size, intro_year: @breed.intro_year, group: @breed.group.name) %>
    <div class="row standard-bearer">
      <iframe src="http://www.akc.org/embeds/breed-standard/<%=@breed.name.downcase.split(" ").join("-")%>" frameborder="0" width="90%" height="90%"></iframe>
    </div>
  </div>
</div>
