<div class='row'>
  <div class='col-sm-12'>
    <h1>The Puppy Parties</h1>
    <% @groups.each do |group| %>
    <div class='col-md-offset-2 col-md-6 target'>
      <hr>
      <h3> The <%= group.name %> Group.</h3>
      <%= link_to group.name, group, class: 'btn btn-default btn-main' %>
    </div>
    <% end %>
  </div>
</div>
