<div class='row'>
  <div class='col-sm-12'>
    <h1>The <%=@group.name%> Group</h1>
    <p><%=@group.description%></p>
    <hr>
    <%= react_component('Breeds', breeds: @group.breeds) %>
  </div>
</div>
