/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import 'bootstrap-sprockets';
 @import "bootstrap";
 @import "font-awesome";

$primary-color: #222222;
$border-color: rgba(255, 255, 255, .55);

body {
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, div, li {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

ul {
  -webkit-padding-end: 40px;
}

a{
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: none;
  color: black;
}

.img-thumbnail {
  margin-left: 2em;
}

.btn {
  border-color: #F7FFE4;
}

.navbar {
  border-radius: 0;
}

.nav-bottom {
  margin-top: 20px;
  margin-bottom: 0;
}

.border-button {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.red {
  color: red;
}

.pink {

  color: pink;
}

.underline {
  text-decoration: underline;
}

.pup-pic .img-responsive {
  padding: 0 auto;
}

.heart-spacer {
  height: 55px;
}

.heart-bar {
  height: 145px;
}

.dog-banner {
  background-image: url("https://source.unsplash.com/collection/218829/1600x900");
  height: 30em;
  background-size: cover;
}

.sign-in-wrapper {
    border: 1px solid #efefef;
    width: 65%;
    margin: 2em auto;
    label {
      width: 80%;
      margin-left: 10%;
    }
    input, h2 {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 1em;
    }
}

.submit-field {
  input {
    background: #7FBF52;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 0.5em;
  }
}

.other-links {
  text-align: center;
  margin-bottom: 2em;
  a {
    text-decoration: underline;
  }
}

.page-panel {
}



.dog-block-wrapper {
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 3em;
}

.dog-block {

  @media (min-width: 500px){
      width: 30%;
      float: left;
      margin-bottom: 0;
      height: 17em;

        &:first-child {
          margin-right: 5%;
        }
        &:last-child {
          margin-left: 5%;
        }
  }
  background-size: cover;
  border: 2px solid $border-color;
  box-sizing: border-box;
  height: 20em;
  padding: 0;
  margin-bottom: 2em;


}

.panel {
  border: 2px;
  border-style: solid;
  border-color: #efefef;
}

.dog-block-spacer {
  height: 70%;
}

.dog-block-filter {
  height: 30%;
  width: 100%;
  background-color: rgba(222, 222, 222, .65);
  padding: 0.5em;
}


.smallprint {
  font-size: 12px;
}

.pup-profile {
  width: 260px;
}

.standard-bearer {
  height: 1000px;
  overflow: hidden;
}

.org-dogs {
  padding: 0;
}

.org-name {
  margin-top: 10px;
}

#footer {
 position:fixed;
 left:0px;
 bottom:0px;
 height:30px;
 width:100%;
}
