/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import 'bootstrap-sprockets';
 @import "bootstrap";

body {
  background-image: url("https://source.unsplash.com/collection/218829/1600x900");
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, div, li {
  font-family: 'Lato', sans-serif;
}

.navbar-default {
  background-color: #619960;
  border-color: #A9A2CC;
}

.btn {
  border-color: #F7FFE4;
}

.btn-compliment {
  background: #CDA5FF;
}

.btn-main {
  background: #7C4DB0;
}

.navbar {
  border-radius: 0;
}

.page-panel {
  background: rgba(247, 255, 228, .80);
  padding: 1em;
}

.see-through {
  background: rgba(247, 255, 228, 0);
}

.standard-bearer {
  height: 1000px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .standard-bearer {
    height: 1200px;
  }
}

@media (min-width: 700px) {
  .standard-bearer {
    height: 1750px;
  }
}
