/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import 'bootstrap-sprockets';
 @import "bootstrap";
 @import "font-awesome";

$primary-color: #222222;
$border-color: rgba(255, 255, 255, .55);

body {
  background-image: url("https://source.unsplash.com/collection/218829/1600x900");
  background-attachment: fixed;
  background-size: 100% auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, div, li {
  font-family: 'Lato', sans-serif;
}

ul {
  -webkit-padding-end: 40px;
}

a{
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: none;
  color: black;
}

.btn {
  border-color: #F7FFE4;
}

.navbar {
  border-radius: 0;
}

.nav-bottom {
  margin-top: 20px;
  margin-bottom: 0;
}

.border-button {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.red {
  color: red;
}

.pink {

  color: pink;
}

.underline {
  text-decoration: underline;
}

.pup-pic .img-responsive {
  padding: 0 auto;
}

.heart-spacer {
  height: 55px;
}

.heart-bar {
  height: 145px;
}

.page-panel {
  background: rgba(247, 255, 228, .80);
  padding: 1em;
  margin-bottom: 3em;
}

.see-through {
  background: rgba(247, 255, 228, 0);
}

.see-through-panel {
  background: rgba(247, 255, 228, .2);
}

.dog-block {
  display: inline-block;
  background-size: cover;
  border: 2px;
  border-style: solid;
  margin: .2em;
  width: 31%;
  height: 17em;
  padding: 0;
  border-color: $border-color;
}

.panel {
  border: 2px;
  border-style: solid;
  border-color: $border-color;
}

.dog-block-spacer {
  height: 70%;
}

.dog-block-filter {
  height: 30%;
  width: 100%;
  background-color: rgba(222, 222, 222, .65);
  padding: 0.5em;
}

.session-space {
  height:8em;
}

.session-panel {
  width: 65%;
}

.smallprint {
  font-size: 12px;
}

.pup-profile {
  height: 260px;
  width: 260px;
}

.standard-bearer {
  height: 1000px;
  overflow: hidden;
}

.org-name {
  margin-top: 10px;
}

#footer {
 position:fixed;
 left:0px;
 bottom:0px;
 height:30px;
 width:100%;
}

@media (max-width: 500px) {
  .session-space {
    height:4em;
  }

  .session-panel {
    margin: auto;
    min-width: 175px;
  }
}
