<div class='row page-panel'>
  <div class='span1'>
  </div>
  <div class='span10'>
    <h1>Listed Rescue Organizations</h1>
    <hr>
    <%= react_component("OrgPanels", orgs: @organizations.all) %>
  </div>
</div>
