<div class='row'>
  <div class='col-sm-12'>
    <h1>Listed Rescue Organizations</h1>
    <hr>
    <%= react_component("OrgPanels", orgs: @organizations.all, watches: @user.organizations.ids) %>
  </div>
</div>
