<div class='row page-panel'>
  <div class='col-s-1 col-md-1 col-lg-1'>
  </div>
  <div class='col-s-10 col-md-10 col-lg-10'>
    <h1><%=@organization.name.upcase%></h1>
    <p><%=@organization.email%></p>
    <p><%=@organization.address%></p>
    <%= react_component("Dogs", dogs: @organization.dogs)%>
  </div>
</div>
