<div class='row'>
  <div class='col-sm-12'>
    <h1><%=@organization.name.upcase%></h1>
    <p><%=@organization.email%></p>
    <p><%=@organization.address%></p>
    <%= react_component("Dogs", dogs: @organization.dogs)%>
  </div>
</div>
